.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
  transition: background-color 0.2s ease;
}

.list-table-format:hover {
  background-color: #f7f7f7;
}

.list-table-format.title {
  background-color: #f9f9f9;
  font-weight: bold;
}

.list-table-format img {
  width: 80px;
  border-radius: 10%;
  transition: transform 0.2s ease;
}

.list-table-format img:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .list-table-format.title {
    display: none;
  }
  .list-table-format img {
    width: 40px;
  }
}
.cursor{
    cursor: pointer;
}
